[Unit]
Description=app-dock-hyprland
After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/app-dock-hyprland
Restart=on-failure

[Install]
WantedBy=hyprland-session.target
